# SerpAPI (reverse image search via Google Lens)
SERPAPI_KEY=APi Key

# Ethereum Sepolia testnet
RPC_URL=https://sepolia.infura.io/v3/YOUR_INFURA_PROJECT_ID
PRIVATE_KEY=0xYOUR_TEST_WALLET_PRIVATE_KEY
CONTRACT_ADDRESS=0xYOUR_DEPLOYED_PROOFREGISTRY_ADDRESS
